body {
  background-color: #dbd6cf;
  line-height: 1.5;
}

h1 {
  color: #fff;
  font-family: Bevan, sans-serif;
  text-align: center;
}

ul li {
  list-style-type: none;
}

ul a {
  display: inline-block;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;

}

ul a:hover {
  background-color: #f33;
}

header {
  padding: .5em;
  background-color: #79756f;
  border: 3px solid #595652;
}
